<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Your Letter</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
    <%- include('partials/navbar') %>

  <div class="container">
    <h1>Your Legacy Letter</h1>
    <p class="letter-output"><%= message %></p>
    <a href="/letter">Write Another</a>
  </div>
</body>
</html>

