<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Single Mom CEO Starter Pack</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
    <%- include('partials/navbar') %>
 
  <div class="container">
    <h1>Solo Mom CEO Starter Pack</h1>
    <p class="subtext">Everything I am doing to build my legacy</p>

    <ul class="starter-list">
      <li class="fade">Bringing my Computer Science degree to life through action</li>
      <li class="fade">Reigniting my tech path with a coding bootcamp</li>
      <li class="fade">Learning HTML, CSS, JavaScript, Node.js, Express & React</li>
      <li class="fade">Writing clean, commented code to reinforce my understanding</li>
      <li class="fade">Building downloadable file routes and form logic</li>
      <li class="fade">Creating responsive layouts with custom CSS</li>
      <li class="fade">Pushing to GitHub like a professional</li>
      <li class="fade">Setting up servers and routes like a backend boss</li>
      <li class="fade">Debugging like a detective (and documenting everything)</li>
      <li class="fade">Turning every assignment into something meaningful</li>
      <li class="fade">Praying, healing, rebuilding</li>
      <li class="fade">Learning how to market my skills, not just build them</li>
      <li class="fade">Reaching out and building connections .. because community matters in tech</li>
      <li class="fade">Building projects with career potential, impact, and purpose</li>
      <li class="fade">Applying for tech jobs that align with my values and vision</li>
      <li class="fade">Staying curious, consistent, and committed to leveling up my skills</li>
      <li class="fade">Showing up for my family..emotionally and financially</li>
      <li class="fade">Learning financial literacy to build wealth and stability for my family</li>
      <li class="fade">Building my presence on LinkedIn to connect, grow, and share my journey</li>
      <li class="fade">Practicing coding challenges and logic building with tools like LeetCode</li>
      <li class="fade">Practicing how to explain my code and thought process with classmates and peers</li>  
      <li class="fade">Revisiting and refining my goals regularly as I grow in tech and life</li> 
      <li class="fade">Embracing that this is a lifelong learning journey .. and I’ll never stop growing</li>


    </ul>
  </div>
</body>
</html>
